.head-flx{
    display: flex;
    align-items: center;
}
.head-flx h2{
        font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.nav-flx ul{
        display: flex;
    column-gap: 25px;

}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-flx a{
 font-family: 'roboto', sans-serif;
     color: #000;
    font-weight: 600;
}