.bg-banner-home{
    background: linear-gradient(360deg, #E1EEFA 0%, #FFFFFF 61.74%, #F0F6FC 95.67%);
    min-height: 100vh;
}
.banner-grd{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 15px 0px;
    column-gap: 40px;
}
.inside-flx{
        display: grid;
    grid-template-columns: 1fr 1fr;
}
.bannerin-1{
    width: 90%;
}
.bannerin-2{
    width: 75%;
}
.widt-img{
    width: 70%;
}
.banner-grd h1{
        font-size: 53px;
    text-align: left;
    color: #024C97;
}
.banner-grd p{
    text-align: left;
    font-size: 22px;
    text-align: justify;
    line-height: 30px;
    padding: 10px 0px;
}
.banner-anchr{
        text-align: left;
    display: flex;
    column-gap: 25px;
    padding-top: 15px;
    align-items: center;
}
.banner-anchr a:first-child{
    background-color: #FBC328;
    padding: 12px 40px 12px 40px;
    border-radius: 25px;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
}
.banner-anchr a:last-child{  
      background-color: transparent;
    padding: 12px 40px 12px 40px;
    border-radius: 25px;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    border: 2px solid #FBC328;
}
